:root {
    --colorUno: #FFFFFF;
    --colorDos: #D9D9D9;
    --colorTres: #FFC70F;
    --colorCuatro: #9C5297;
    --colorCinco: #000000;
    --fuentePrincipal: "Comic Neue", sans-serif;
    --fuenteSecundaria: "Coiny", sans-serif;
    --border-color: #D3D3D3; 
}

html {
    background-color: var(--colorUno);
}

body{
    font-family: var(--fuentePrincipal);
}

/* Footer */
.footer {
  background-color: var(--colorCuatro);    
  color: #FFFFFF;              
  text-align: center;        
  padding: 20px 10px;            
  margin-top: 40px;              
  font-family: Arial, sans-serif;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: var(--colorUno);
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--colorTres);                
  text-decoration: underline;
}
