:root {
    --colorUno: #FFFFFF;
    --colorDos: #D9D9D9;
    --colorTres: #FFC70F;
    --colorCuatro: #9C5297;
    --colorCinco: #000000;
    --fuentePrincipal: "Comic Neue", sans-serif;
    --fuenteSecundaria: "Coiny", sans-serif;
    --border-color: #D3D3D3; /* Gris claro para los bordes */
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.galeria-contenedor {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.galeria {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
}


.galeria img {
  flex-shrink: 0;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s;
}

.galeria img:hover {
  transform: scale(1.05);
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  user-select: none;
}

.flecha.izquierda {
  left: 10px;
}

.flecha.derecha {
  right: 10px;
}

.flecha:hover {
  background-color: rgba(0,0,0,0.8);
}

.footer {
  background-color: var(--colorCuatro);     
  color:var(--colorUno);                
  text-align: center;            
  padding: 20px 10px;            
  margin-top: 40px;              
  font-family: var(--fuentePrincipal);
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: var(--colorUno);
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--colorTres);
}                